body {
    background-color: beige;
    padding-top: 35px;
}

.name {
    text-align: center;
    color:  greenyellow;
}

.container {
    background-color: #001F3E;
    margin-top: 30px;
    height: max-content;
    padding-bottom: 30px;
    width: 30%;
    border: 10px solid greenyellow;
    padding-left: 25px;
    padding-top: 12px;
    margin: 0 auto; /* Centers the container horizontally */
}

.upper-box
{
    color: ivory;
    margin-top: 40px;
}

.lower-box
{
    color:ivory;
    margin-bottom: 40px
}
